.issuance {
    background: #f9f9f9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 72vh;
    overflow: auto;
    scrollbar-width: none;
  
    .MuiTab-root {
      font-weight: bold;
    }
  
    .MuiTabPanel-root {
      padding: 0px;
    }
  
    .issuance-form {
      padding: 20px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
      .formDiv {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
  
        .formInnerDiv {
          display: flex;
          flex-direction: column;
          width: 48%;
          margin-bottom: 15px;
  
          input[readonly] {
            background-color: #f0f0f0;
            cursor: not-allowed;
          }
  
          .formLabel {
            margin-bottom: 0.5rem;
            font-weight: 600;
            color: #333;
          }
  
          .formInput,
          .formSelect,
          .formTextarea {
            border-radius: 5px;
            background: #fff;
            border: 1px solid #dbdbdb;
            color: #333;
            padding: 10px 15px;
            height: 40px;
  
            &:focus {
              border-color: #40189d;
              outline: none;
              box-shadow: 0 0 5px rgba(64, 24, 157, 0.5);
            }
          }
  
          .formTextarea {
            height: 100px;
            resize: vertical;
          }
        }
      }
  
      .issuanceBtnDiv {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
  
        .submitBtn {
          padding: 10px 20px;
          background-color: #40189d;
          font-weight: bold;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
  
          &:hover {
            background-color: #321478;
          }
        }
      }
    }
  
    .dataTable {
      margin-top: 20px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
      .MuiDataGrid-cell input {
        padding: 6px;
      }
    }
  }
  